{% extends "base.html" %}

{% block title %}
Edit User
{% endblock %}

{% block content %}
<h1>Edit User</h1>

<form action="{{ url_for('edit_user', user_id=user['id']) }}" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{ user['name'] }}" required><br>
    <label for="name">Roll Number:</label>
    <input type="text" name="name" value="{{ user['roll_number'] }}" required><br>
    <label for="email">Email:</label>
    <input type="email" name="email" value="{{ user['email'] }}" required><br>
    <label for="phone">Phone:</label>
    <input type="text" name="phone" value="{{ user['phone_number'] }}" required><br>
    <label for="communicationPreference">communicationPreference:</label>
    <input type="text" name="communicationPreference" value="{{ user['communication_preference'] }}" required><br>
    <label for="password">Password:</label>
    <input type="text" name="password" value="{{ user['password'] }}" required><br>
    <label for="role">Role:</label>
    <select name="role">
        <option value="student" {% if user['role'] == 'student' %}selected{% endif %}>Student</option>
        <option value="club_leader" {% if user['role'] == 'club_leader' %}selected{% endif %}>Club Leader</option>
        <option value="admin" {% if user['role'] == 'admin' %}selected{% endif %}>Admin</option>
    </select><br>
    <button type="submit">Update User</button>
</form>

{% endblock %}
