<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Club Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  {% extends "base.html" %}
 {% block title %}
    Admin Dashboard
 {% endblock %}

 {% block content %}

  <div class="container">
    <div class="float-right mb-4">
      {% if session['user']['role'] ==  'admin' %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">Add user</button>
      {% endif %}
    </div>
    
    <h2 class="my-4">User Details</h2>

    <h4>Members</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Roll Number</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Communication</th>
          <th>Role</th>
          {% if session['user']['role'] ==  'admin' %}
            <th>Edit</th>
            <th>Delete</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.roll_number }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.communication_preference}}</td>
            <td>{{ user.role}}</td>
            {% if session['user']['role'] == 'admin' %}
              <td><a href="/edit_user/{{ user.id }}">Edit</a></td>
              <td><a href="/delete_user/{{ user.id }}">Delete</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addUserForm" action="{{ url_for('add_user') }}" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>                  
                    <div class="form-group">
                        <label for="roll_number">Roll Number</label>
                        <input type="roll_number" class="form-control" id="roll_number" name="roll_number" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="communicationPreference">Communication Preference</label>
                        <select class="form-control" id="communicationPreference" name="communicationPreference">
                            <option>Email</option>
                            <option>Phone</option>
                            <option>SMS</option>
                            <option>WhatsApp</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                    </div>                    
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select class="form-control" id="role" name="role">
                            <option value="student">Student</option>
                            <option value="club_leader">Club Leader</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Add User</button>
                </form>
            </div>
        </div>
    </div>
</div>

  {% endblock %}

</body>

</html>